<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<title th:text="${param.action+''=='edit'? '修改人員資料':'新增人員資料'}">Form</title>
		<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/575/575927.png" type="png">
	</head>
	<body>

		<form action="#" th:action="@{../Demo/addPerson}" th:object="${person}" method="post">

			<div align="center"><br>
				<fieldset style="width:60%;">
					<!-- ${param.action+''}or${param.action[0]}抓得到 -->
					<legend align="center"><span th:text="${param.action+''=='edit'? '修改人員資料':'新增人員資料'}"></span></legend>
					<table align=center>
						<tr>
							<td>姓名</td>
							<td><input type="text" th:field="*{name}"/></td>
						</tr>
	
						<tr>
							<td>暱稱</td>
							<td><input type="text" th:field="*{nickname}"/></td>
						</tr>
	
						<tr>
							<td>性別</td>
							<td>
								<input type="radio" th:field="*{sex}" value="Male"/>
								<label for="Male">男</label>
								
								<input type="radio" th:field="*{sex}" value="Female"/>
								<label for="Female">女</label>
							</td>
						</tr>
	
						<tr>
							<td>生日</td>
							<td>
								<input type="date" th:field="*{birthday}"/>
								yyyy-MM-dd
							</td>
						</tr>

						<tr>
							<td>描述</td>
							<td><textarea th:field="*{description}" rows="5"></textarea></td>
						</tr>
	
						<tr>
							<td></td>
							<td>
								<input type="submit" value="儲存" />
								<input type="reset"  value="重置" />
								<input type="button" value=" 回上一頁 " onclick="goPerson()" />
							</td>
						</tr>
					</table>
				</fieldset>
			</div>		
		</form>
	</body>
</html>

<script th:inline="javascript">
    var message = /*[[${person}]]*/ 'default';
    console.log(message);

    function goPerson(){
    	window.location.href = "Person";
    };

</script>