<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<title>addPerson</title>
		<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/575/575927.png" type="png">
	</head>
	<body>
		<form>
			<div align="center"><br>
				<fieldset style="width:280px;">
					<legend align="center">人員資料</legend>
					<table align=center>
						<tr>
							<td>姓名：</td>
							<td th:text="${person.name}"></td>
						</tr>
						<tr>
							<td>暱稱：</td>
							<td th:text="${person.nickname}"></td>
						</tr>
						<tr>
							<td>性別：</td>
							<td>
								<span th:if="${person.sex=='Male' or person.sex=='male'}">
								男性</span>
								<span th:if="${person.sex=='Female' or person.sex=='female'}">
								女性</span>
							</td>
						</tr>
						<tr>
							<td>生日：</td>
							<td th:text="${person.birthday}"></td>
						</tr>
						<tr>
							<td>描述：</td>
							<td th:text="${person.description}"></td>
						</tr>
						<tr>
							<td>建立時間：</td>
							<td th:text="${person.create_time}"></td>
						</tr>
	
						<tr>
							<td></td>
							<td>
								<input type="button" value=" 回上一頁 " onclick="history.go(-1); " />
							</td>
						</tr>
					</table>
				</fieldset>
			</div>		
		</form>
	</body>
</html>

<script>

</script>